@keyframes fadeIn {
  from {
      /* 요소의 투명도 */
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
    from {
        /* 요소의 투명도 */
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
@-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  